<!-- Este es el componente navbar -->
<nav class="nav-bar">
    <ul class="navbar__list">
        <li class="nav-bar__item"><a href="./index.html" class="nav-bar__link">Inicio</a></li>
        <li class="nav-bar__item"><a href="./Clientes.html" class="nav-bar__link">Cliente</a></li>
        <li class="nav-bar__item"><a href="./About-me.html" class="nav-bar__link">Sobre mi</a></li>
        <li class="nav-bar__item"><a href="./Contact.html" class="nav-bar__link">Contacto</a></li>
    </ul>
</nav>
