/*Tamaños de fuente y Tipos de fuente
Rem, pixel y em
especificidad en CSS
Métricas SEO
Metodología BEM*/

html{
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.father{
    border: solid 1px black;
}
#id-child {
    color: yellowgreen;
}

p {
    color: red;
    color: blue;
    font-size: 2.4rem;
}