/*Tamaños de fuente y Tipos de fuente
Rem, pixel y em
especificidad en CSS
Métricas SEO
Metodología BEM*/

:root {
    /* Primary color*/
    --primary-950: #39A900;
    --primary-900: #42AD0C;
    --primary-800: #56B526;
    --primary-700: #6ABE3F;
    --primary-600: #7EC759;
    --primary-500: #92CF72;
    --primary-400: #A5D88C;
    --primary-300: #B9E0A5;
    --primary-200: #CDE9BF;
    --primary-100: #E1F2D8;
    --primary-50:  #F5FAF2;

    /* Secondary color*/
    --secondary-950: #083344;
    --secondary-900: #164e63;
    --secondary-800: #145e76;
    --secondary-700: #0d7491;
    --secondary-600: #0792b3;
    --secondary-500: #05b7d5;
    --secondary-400: #21d4ef;
    --secondary-300: #50e5f9;
    --secondary-200: #a5f3fc;
    --secondary-100: #cffafe;
    --secondary-50:  #ecfeff;

    /* Tertiary color*/
    --tertiary-950: #3f0e44;
    --tertiary-900: #632669;
    --tertiary-800: #71277A;
    --tertiary-700: #8f309b;
    --tertiary-600: #aa3dbc;
    --tertiary-500: #c45cd9;
    --tertiary-400: #d88ae8;
    --tertiary-300: #e6b6f1;
    --tertiary-200: #f0d6f8;
    --tertiary-100: #f7ebfc;
    --tertiary-50:  #fcf5fe;

    /* Neutral color*/
    --white: #FFFFFF;
    --black: #000000;
    --gray-950: #F6F6F6;
    --gray-900: #E9E9E9;
    --gray-800: #D1D1D1; 
    --gray-700: #B8B8B8;
    --gray-600: #9F9F9F;
    --gray-500: #878787;
    --gray-400: #6E6E6E;
    --gray-300: #565656;
    --gray-200: #3D3D3D;
    --gray-100: #242424;
    --gray-50:  #181818;

    /*Font-family*/
    --main-font: work-sans, Calibri, Helvetica, Arial, sans-serif;

    /*Font-size*/
    --fs-xxxxl: 0.8rem; /* Ultra grande*/
    --fs-xxxl: 6.4rem; /* Super grande */
    --fs-xxl: 4.8rem; /* Extra grande */
    --fs-xl: 4.0rem; /* Muy grande */
    --fs-lg: 3.2rem; /* Grande */
    --fs-md: 2.4rem; /* Mediano */
    --fs-sm: 2.0rem; /* Pequeño */
    --fs-xs: 1.6rem; /* Base */
    --fs-xxs: 1.4rem; /* Extra pequeño */
    --fs-xxxs: 1.2rem; /* Minimo */
}

/* Globals */
html {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--main-font);
}
*, *:before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

/* Header */
.header {
    width: 100%;
    text-align: center;
}

.tittle {
    font-size: var(--fs-md);
}

.subtitle {
    font-size: var(--fs-xs);
}

a {
    text-decoration: none;
    color: var(--white);
}

.nav-bar {
    background-color: var(--primary-800);
    padding: 10px 0;
    margin: 0 auto;
}

.navbar__list {
    list-style: none;
    margin: 0 auto;
}

/* Hero */
.hero__button {
    color: var(--black);
}

@media (width > 768px) {
    .navbar {
        display: flex;
    }
}

@media (width > 768px) {

    .navbar__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
