<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/components/navbarload.js" defer></script>
</head>
<body>
    <header class="header">
        <h1 class="title">Juan Andres <span class="subtitle">Rico programar</span></h1>
    </header>

    <div class="navbar-container"></div>

    <h1 class="Contact">Estoy en Sobre mi</h1>
</body>
</html>
